form.formulario {
  display: flex;
  flex-direction: column;
}

form.formulario label {
  margin: 5mm 0 2mm;
}

form.formulario label:first-child {
  margin-top: 0;
}

form.formulario input[type=text],
form.formulario textarea {
  width: 100%;
  font-family: sans-serif;
}